<div>
    <form [formGroup] = "newCategoryForm" (ngSubmit)="addCategory()">
        <div class="formgroup">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" />
        </div>
        <div class="formgroup">
            <label class="form-label">Description</label>
            <textarea [rows]="5" [cols]="30"  class="form-control" formControlName="description"></textarea>        
        </div>

        <div class="formgroup">
            <input class="form-check-input" type="checkbox" formControlName="isFvorite" id="flexCheckDefault">&nbsp;
            <label class="form-check-label" for="flexCheckDefault">
                Favorite
            </label>     
        </div>
        <div class="button-container"> 
            <button type="submit" class="btn color-background-primary-light"><span class="pi pi-check color-white"></span> Create</button>
            <button type="submit" class="btn btn-danger"><span class="pi pi-times color-white" (click)="closeModal()"></span> Cancel</button>
        </div>
    </form>
</div>
